/* 渐变 */
/* Flex 水平竖直居中 */
html {
    display: flex;
    width: 100vw; /*vw 视口的初始包含块的宽度的 1%。*/
    height: 100vh;/* vh 视口的初始包含块的高度的 1%。 */
    margin: 0;
    align-items: center;
    justify-content: center;
    background: radial-gradient(#fc4a09,#f7d1ab);
}

.naruto {
    position: relative;
    width: 60vmin;
    height: 60vmin;
    border-radius: 50%;
    background-color: transparent;
    border: 1.5vmin solid #eb4305;
    overflow: hidden;/* 隐藏多余部分*/
}
/*
*头发
*/
.hair {
    height: 12vmin;
    background-color: #DCD768;
    border-bottom: 0.5vmin solid #c4be4a;
}
/*
*木叶护额
*/
/* 父元素相对定位，子元素absolute+transform实现绝对居中 */
.forehead {
    height: 8vmin;
    background-color: #4D4747;
    position: relative;
}
.forehead .plate {
    width: 30vmin;
    height: 6.5vmin;
    background-color: #cecece;
    padding: 0.3vmin 0 0 0;
    border-radius: 1vmin;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.leaf {
    position: absolute;
    width: 5vmin;
    height: 5vmin;
    margin: 0;
    border-radius: 50%;
    border: 0.2vmin solid #240a07;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.leaf::after {
    position: absolute;
    content: '';
    width: 70%;
    height: 70%;
    margin: 0;
    border-radius: 50%;
    border: 0.2vmin solid #240a07;
    top: 10%;
    left: 10%;
    border-bottom: 0;
    border-right: 0;
    transform: rotate(-45deg);
}

.leaf::before {
    content: '';
    position: absolute;
    width: 90%;
    height: 90%;
    margin: 0;
    border-radius: 50%;
    border: 0.2vmin solid #240a07;
    top: 10%;
    left: 10%;
    border-left: 0;
    border-bottom: 0;
    z-index: 3;
}

.leaf .part-a {
    position: absolute;
    width: 2vmin;
    height: 1vmin;
    margin: 0;
    border-left: 0.2vmin solid #240a07;
    background-color: #cecece;
    top: 5%;
    left: 70%;
    transform: rotate(60deg);
    z-index: 2;
}

.leaf .part-b {
    position: absolute;
    width: 3vmin;
    height: 2.5vmin;
    margin: 0;
    border: 0.2vmin solid #240a07;
    border-right: 0;
    border-top: 0;
    top: 50%;
    left: -5%;
}
.point {
    position: absolute;
    width: 0.75vmin; /* vmin 视口高度 vw 和宽度 vh 两者之间的最小值。 */
    height: 0.75vmin;
    margin: 0;
    border-radius: 50%;
    border: 0.2vmin solid #240a07;
    background-color: rgb(161, 160, 160);
}

.point.lt {
    top: 10%;
    left: 2%;
}

.point.lm {
    top: 45%;
    left: 2%;
}

.point.lb {
    top: 80%;
    left: 2%;
}

.point.rt {
    top: 10%;
    right: 2%;
}

.point.rm {
    top: 45%;
    right: 2%;
}

.point.rb {
    top: 80%;
    right: 2%;
}


/*
*脸
*/
.face {
    position: absolute;
    width: 60vmin;
    height: 60vmin;
    background-color: #F2C9BE;
    z-index: -1;
}
/*
*嘴
*/
.mouth {
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 7.5vmin;
    height: 10vmin;
    transform: translateX(-50%);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: #E89E8A;
}
/*
*须
*/
/* 利用border画三角形 */
.whiskers .whisker {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-right: 5.2vmin solid transparent;
    border-left: 15vmin solid #917972;
    border-top: 2.5vmin solid transparent;
    border-bottom: 2.5vmin solid transparent;
}

.whiskers .whisker:first-child {
    top: 60%;
}

.whiskers .whisker:nth-child(2) {
    top: 70%;
}

.whiskers .whisker:nth-child(3) {
    top: 80%;
}

.whiskers .whisker:nth-child(4) {
    top: 60%;
    right: 0;
    transform: rotate(180deg);
}

.whiskers .whisker:nth-child(5) {
    top: 70%;
    right: 0;
    transform: rotate(180deg);
}

.whiskers .whisker:nth-child(6) {
    top: 80%;
    right: 0;
    transform: rotate(180deg);
}
/*
*眼睛
*/
.eye {
    height: 20vmin;
    display: flex;
    /* justify-content: center; */
    justify-content: space-around;
    position: relative;
    top: 2vmin;
}
/*
*写轮眼
*/
.left {
    width: 20vmin;
    height: 10vmin;
    background-color: rgb(255, 255, 255);
    border: none;
    overflow: hidden;
    position: relative;
    /* position: absolute; */
    /* transform: translateX(-15vmin); */
    border-radius: 0 12vmin 0 12vmin;
    box-shadow: inset 0 0 1vmin rgba(17, 17, 17, 0.8);
    filter: drop-shadow( -0.8vmin -0.5vmin 0.3vmin  rgb(216, 59, 59));
}

.left::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9vmin;
    height: 9vmin;
    border-radius: 50%;
    border: 0.2vmin solid #000;
    animation: leftcolor 2s linear forwards;
}

@keyframes leftcolor {
    0%,
    30% {
        background-color: rgb(0, 0, 0);
    }
    100% {
        background-color: rgb(255, 4, 4);
    }
}

.left-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    z-index: 1;
    animation: bigger 3s linear forwards;
}

@keyframes bigger {
    100% {
        width: 1.5vmin;
        height: 1.5vmin;
    }
}

.left-jade {
    position: absolute;
    top: -2.5vmin;
    left: -2.5vmin;
    bottom: -2.5vmin;
    right: -2.5vmin;
    border-radius: 50%;
    border: 0.2vmin solid rgb(0, 0, 0);
    animation: spin 2s linear 2s forwards;
    /* opacity: 1; */
}
.left-jade:hover{
    animation: spin 2s linear forwards infinite;
    /* opacity: 1; */
}
@keyframes spin {
    100% {
        /* opacity: 1; */
        transform: rotate(720deg);
    }
}

.left-jade .jade {
    position: absolute;
    width: 1.5vmin;
    height: 1.5vmin;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
}

.left-jade .jade::after {
    content: '';
    position: absolute;
    top: -0.6vmin;
    left: -0.1vmin;
    width: 0.6vmin;
    height: 2vmin;
    border-radius: 50%;
    border-left: 0.6vmin solid rgb(0, 0, 0);
}

.left-jade .jade:nth-child(1) {
    animation: jade1 2s ease-out 2s both ;
}

@keyframes jade1 {
    0% {
        opacity: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0.1) rotate(80deg);
    }
    100% {
        left: 50%;
        top: -9%;
        transform: scale(1) rotate(80deg) ;
    }
}

.left-jade .jade:nth-child(2) {
    animation: jade2 2s ease-out 2s both;
}

@keyframes jade2 {
    0% {
        opacity: 0;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0.1) rotate(-80deg);
    }
    100% {
        top: 60%;
        left: -9%;
        transform: scale(1) rotate(-80deg) ;
    }
}

.left-jade .jade:nth-child(3) {
    animation: jade3 2s ease-out 2s both;
}

@keyframes jade3 {
    0% {
        opacity: 0;
        right: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0.1) rotate(180deg);
    }
    100% {
        top: 60%;
        right: -9%;
        transform: scale(1) rotate(180deg);
    }
}
/*
*白点
*/
.left::before,.right::before {
    content: '';
    position: absolute;
    left: 38%;
    top: 30%;
    width: 1.2vmin;
    height: 1.2vmin;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    z-index: 10;
}
/*
*轮回眼
*/
.right {
    width: 20vmin;
    height: 10vmin;
    border: none;
    overflow: hidden;
    position: relative;
    /* position: absolute; */
    /* transform: translateX(15vmin); */
    border-radius: 12vmin 0 12vmin 0;
    box-shadow: inset 0 0 1vmin rgba(17, 17, 17, 0.8);
    filter: drop-shadow( 0.8vmin -0.5vmin 0.3vmin  rgb(216, 59, 59));
    animation: bgcolor 2s linear 2s both;

}

@keyframes bgcolor {
    0% {
        background-color: rgb(255, 255, 255);
    }
    100% {
        background-color: rgb(187, 177, 214);
    }
}
.right::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9vmin;
    height: 9vmin;
    border-radius: 50%;
    border: 0.2vmin solid #000;
    animation: rightcolor 2s linear forwards;
}

@keyframes rightcolor {
    0%,
    30% {
        background-color: rgb(0, 0, 0);
    }
    100% {
        background-color: rgb(144, 130, 183);
    }
}

.right-center {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #000;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10;
    animation: bigger 3s linear forwards;
}

@keyframes bigger {
    0% {
        height: 0;
        width: 0;
    }
    100% {
        height: 1.5vmin;
        width: 1.5vmin;
    }
}

.right-cricle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.right-cricle:hover{
    animation: bigger2 2s ease-in-out  forwards alternate-reverse infinite;
}
@keyframes bigger2 {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

.right-cricle .cricle:nth-child(1) {
    --r: 2;
}

.right-cricle .cricle:nth-child(2) {
    --r: 3;
}

.right-cricle .cricle:nth-child(3) {
    --r: 4;
}

.cricle {
    position: absolute;
    border-radius: 50%;
    border: 0.2vmin solid #000;
    z-index: calc(1 - var(--r));
    animation: reincarnation 2s ease-out 2s forwards ;
    
}
@keyframes reincarnation {
    0% {
        top: calc(var(--r) * -0.1vmin);
        left: calc(var(--r) * -0.1vmin);
        right: calc(var(--r) * -0.1vmin);
        bottom: calc(var(--r) * -0.1vmin);
    }
    100% {
        top: calc(var(--r) * -3.5vmin);
        left: calc(var(--r) * -3.5vmin);
        right: calc(var(--r) * -3.5vmin);
        bottom: calc(var(--r) * -3.5vmin);
        background-color: rgb(187, 177, 214);
    }
}
